.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

# Local Netlify folder
.netlify

# .vscode folder
.vscode
mcp.json
extensions.json
settings.json

# Test folder
Test
TestCSS
TestPage

# Misc files and folder
client-only-route.jsx
PresentationChecklist.md
.github
ProjectNotes.md