.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

# Local Netlify folder
.netlify

# .vscode folder
mcp.json

# Test folder
Test
TestCSS
TestPage

# Misc files
client-only-route.jsx