.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

# Local Netlify folder
.netlify

# .vscode folder
mcp.json

# Test folder
Test
TestCSS
TestPage

# React router config so I don't have to keep changing server side rendering
react-router.config.js